<h1>Capco Angular Assessment </h1>

<div>
  <label>Select number of items per page:  </label> &nbsp;
  <select name="pageSize"  #t (change)="changePageSize(t.value);" class="dropdown btn btn-default">
      <option *ngFor="let item of pageSizeItems" [value]="item">{{item}}</option>
  </select>
</div>
&nbsp;
<div id="container" class="table table-responsive">
  <table id="customers">
    <thead>
      <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Company</th>
        <th>Date Entry</th>
        <th>Org Number</th>
        <th>Address</th>
        <th>City</th>
        <th>Zip</th>
        <th>Geo</th>
        <th>Pan</th>
        <th>Pin</th>
        <th>Id</th>
        <th>Status</th>
        <th>Fee</th>
        <th>Guid</th>
        <th>Date Exist</th>
        <th>Date First</th>
        <th>Date Recent</th>
        <th>Url</th>
        <th style="min-width:300px;">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let item of pagedItems'>
        <td>{{item.name}}</td>
        <td>{{item.phone}}</td>
        <td>{{item.company}}</td>
        <td>{{item.date_entry}}</td>
        <td>{{item.org_num}}</td>
        <td>{{item.address_1}}</td>
        <td>{{item.city}}</td>
        <td>{{item.zip}}</td>
        <td>{{item.geo}}</td>
        <td>{{item.pan}}</td>
        <td>{{item.pin}}</td>
        <td>{{item.id}}</td>
        <td>{{item.status}}</td>
        <td>{{item.fee}}</td>
        <td>{{item.guid}}</td>
        <td>{{item.date_exit}}</td>
        <td>{{item.date_first}}</td>
        <td>{{item.date_recent}}</td>
        <td>{{item.url}}</td>
        <td>{{item.email}}</td>
      </tr>
    </tbody>
  </table>
</div>
<tfoot>
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
      <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(1)">First</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(pager.currentPage - 1)">Previous</a>
      </li>
      <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
        <a (click)="setPage(page)">{{page}}</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.currentPage + 1)">Next</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.totalPages)">Last</a>
      </li>
    </ul>
  </tfoot>
<!-- pager -->

<router-outlet></router-outlet>