th, td {
    min-width: 150px;
    padding: 5px 10px;
    width: 150px;
    overflow: auto;
}

#container {
    width: 100%;
    overflow-x: scroll;
    table-layout:fixed;
}
#container table {
    overflow-x: auto;
    overflow-y: auto;
}
#container tbody {
    overflow-x: hidden;
    display: block;
    height: 500px;
    width:100%;
}
#container thead {
    display: table-row;
    width: 100%;
    overflow-x:auto; 
    overflow-y:auto;
}
table#customers tr:nth-child(even) {
    background-color: #eee;
  }
  table#customers tr:nth-child(odd) {
   background-color: #fff;
  }
  table#customers th {
    background-color:rgb(97, 27, 42);
    color: white;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
 